<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body style="background-color: #dcdcdc;">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5" style="background-color: white; height: 100vh;">
            <div class="py-5 text-center">
                <h3>상품등록</h3>
            </div>
            <div>
                <form class="needs-validation" th:action="@{/goods/add}" th:object="${itemFormDto}"
                      novalidate method="post">
                    <div class="form-group">
                        <label for="brandName">브랜드명</label>
                        <input type="text" id="brandName" th:field="*{brandName}" class="form-control"
                               placeholder="브랜드명" minlength="1" maxlength="10">
                        <small class="invalid-feedback">브랜드명을 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('brandName')}"
                               th:errors="*{brandName}">brandName error</small>
                    </div>
                    <div class="form-group">
                        <label for="itemName">품번</label>
                        <input type="text" id="itemName" th:field="*{itemName}" class="form-control"
                               placeholder="품번">
                        <small class="invalid-feedback">품번를 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('itemName')}"
                               th:errors="*{itemName}">itemName error</small>
                    </div>
                    <div class="form-group">
                        <label for="title">제품명</label>
                        <input type="text" id="title" th:field="*{title}" class="form-control"
                               placeholder="제품명" minlength="1" maxlength="10">
                        <small class="invalid-feedback">제품명을 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                               th:errors="*{title}">title error</small>
                    </div>
                    <div class="form-group">
                        <label for="price">가격</label>
                        <input type="text" id="price" th:field="*{price}" class="form-control"
                               placeholder="가격 입력">
                        <small class="invalid-feedback">가격을 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}"
                               th:errors="*{price}">price error</small>
                    </div>
                    <div class="form-group">
                        <label for="size">사이즈</label>
                        <input type="text" id="size" th:field="*{size}" class="form-control"
                               placeholder="사이즈 입력">
                        <small class="invalid-feedback">사이즈를 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('size')}"
                               th:errors="*{size}">size error</small>
                    </div>
                    <div class="form-group">
                        <label for="count">수량</label>
                        <input type="text" id="count" th:field="*{count}" class="form-control"
                               placeholder="수량 입력">
                        <small class="invalid-feedback">수량을 입력하세요</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('count')}"
                               th:errors="*{count}">count error</small>
                    </div>
                    <div class="form-group">
                        <label for="itemType">상품 타입</label>
                        <select name="itemType" id="itemType" class="form-control">
                            <option th:value="TOP">상의</option>
                            <option th:value="BOTTOM">하의</option>
                            <option th:value="ACCESSORY">악세사리</option>
                            <option th:value="SHOES">신발</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">상품 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>