<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body style="background-color: #dcdcdc;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5" style="background-color: white; height: 100vh;">
                <div class="py-5 text-center">
                   <!-- <img src="/image/logo.png" width="30" height="30">-->
                    <h3>로고 이미지 삽입</h3>
                </div>
                <div>
                    <form class="needs-validation" th:action="@{/login}"
                          novalidate method="post">
                        <div class="form-group">
                            <input type="text" id="username" name="username" class="form-control"
                                placeholder="아이디를 입력해 주세요" minlength="5" maxlength="11">
                            <small class="invalid-feedback">아이디를 입력하세요.</small>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="비밀번호를 입력해 주세요" minlength="8" maxlength="30">
                            <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block btn-large" type="submit">로그인</button>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
                            <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">자동로그인</label>
                        </div>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <a th:href="@{/sign-up}" style="color: #d2d2d2;" class="mr-3">회원 가입</a>
                    <a th:href="@{/sign-up}" style="color: #d2d2d2;" class="mx-3">아이디 찾기</a>
                    <a th:href="@{/sign-up}" style="color: #d2d2d2;" class="mx-3">비밀번호 찾기</a>
                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments.html :: form-validation"></div>
</body>
</html>