<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>

    <div th:replace="fragments.html :: main-nav"></div>

    <div th:replace="fragments.html :: myPage-nav"></div>

    <div th:replace="fragments.html :: myPage-setting-nav"></div>

    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-3 pr-5" th:replace="fragments.html :: myPage_menu">
            </div>
            <div>
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>