<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body style="background-color: #dcdcdc;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5" style="background-color: white; height: 100vh;">
                <div class="py-5 text-center">
                   <!-- <img src="/image/logo.png" width="30" height="30">-->
                    <h3>로고 이미지 삽입</h3>
                    <h3>회원가입</h3>
                </div>
                <div>
                    <form class="needs-validation" th:action="@{/sign-up}" th:object="${memberSignUpDto}"
                          novalidate method="post">
                        <div class="form-group">
                            <label for="username">이름</label>
                            <input type="text" id="username" th:field="*{username}" class="form-control"
                                   placeholder="이름" minlength="1" maxlength="10">
                            <small class="invalid-feedback">이름을 입력하세요</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}"
                                   th:errors="*{username}">Username error</small>
                        </div>
                        <div class="form-group">
                            <label for="loginId">아이디</label>
                            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                                placeholder="아이디 입력(5~11자)" minlength="5" maxlength="11">
                            <small class="invalid-feedback">아이디를 입력하세요</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('loginId')}"
                                   th:errors="*{loginId}">LoginId error</small>
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control"
                                   placeholder="비밀번호(숫자,영문,특수문자 조합 최소8자)" minlength="8" maxlength="30">
                            <small class="invalid-feedback">비밀번호를 입력하세요</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}">password error</small>
                        </div>
                        <div class="form-group">
                            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="form-control"
                                   placeholder="비밀번호 확인" minlength="8" maxlength="30">
                            <small class="invalid-feedback">비밀번호를 입력하세요</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
                                   th:errors="*{passwordConfirm}">password error</small>
                        </div>
                        <div class="form-group">
                            <label for="email">이메일</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control"
                                   placeholder="이메일">
                            <small class="invalid-feedback">이메일을 입력하세요</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}">email error</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>