<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <style>
       .breadcrumb-item+.breadcrumb-item::before { content: ">  ";     }
       .bc-icons .breadcrumb-item + .breadcrumb-item::before {
           content: "/";}
       .s1{
           background: none;
       }
       .s2{
           color: red;
       }
       .breadcrumb {
           padding: 2px 15px !important;
           font-size: 13px;
       }
       .s3{
           font-size: 18px;
       }
       .s4{
           padding-left: 5px;
       }
       .font-color-black{
           color: black;
       }
       .wi{
           width: 300px;
       }
       .card-horizontal {
           display: flex;
           flex: 1 1 auto;
       }
    </style>
</head>
<body>
    <div th:fragment="main-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="line-height: 40px">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: white;" th:href="@{/}">PortFolioShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" aria-label="Search">
                    </form>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" th:href="@{/goods/add}">아이템 추가</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="login-nav" class="pl-5 pt-3" style="font-size: 14px;">
        <ul class="nav" sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-dark pl-5 pr-5"  style="font-size: 13px;" type="button" aria-current="page" th:href="@{/login}">
                    <strong>로그인</strong>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color: black;" th:href="@{/sign-up}">회원가입</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" style="color: black;" href="#">비밀번호 찾기</a>
            </li>
        </ul>
        <ul class="nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" style="color: black;" th:href="@{/myPage/setting}">
                    <strong>
                        <p>
                             <span th:text="${member.userName}"></span> 님
                        </p>
                    </strong>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: black" href="#" id="noticationId" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <div class="dropdown-item" href="#" th:href="@{/#}" th:if="${orderList == null}">
                        알림이 없습니다.
                    </div>
                    <a class="dropdown-item" href="#" th:href="@{/#}" th:if="${orderList != null}">
                        <div th:each="order : ${orderList}">
                            <div>
                                <i class="fa fa-shopping-cart"></i> 구매정보
                            </div>
                            <span th:each="orderItem : ${order.getOrderItems()}">
                                <div th:if="${orderItem.getGoods().getItem().getItemImg() == null}"></div>

                                <span th:text="${orderItem.getGoods().getItem().getTitle()}"></span> 주문이 완료되었습니다.
                                </span>
                                <div th:text="${#temporals.format(order.getCreatedDate(), 'yyyy.MM.dd HH:mm')}"></div>
                            </span>
                            <hr class="my-2">
                        </div>
                        <div>
                            <a th:href="@{/myPage/notification}">전체보기</a>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:black;" th:href="@{/myPage}">마이페이지</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: black" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    활동정보
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
<!--                    <a class="dropdown-item" th:href="@{/myPage/point}">포인트</a>
                    <a class="dropdown-item" style="color:blue;" th:text="${member.point}"></a>-->
                    <a class="dropdown-item" href="#" th:href="@{/myPage/board}">작성글</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/comment}">작성코멘트</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/scrap}">스크랩</a>
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: black" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    쇼핑정보
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
<!--                    <a class="dropdown-item" th:href="@{/myPage/reserve}">적립금</a>
                    <a class="dropdown-item" style="color:blue;" th:text="${member.reserve}"></a>-->
                    <a class="dropdown-item" href="#" th:href="@{/myPage/orderList}">주문내역</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/coupon}">쿠폰</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/review}">구매후기</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/delivery}">배송지관리</a>
                    <a class="dropdown-item" href="#" th:href="@{/myPage/mysize}">마이사이즈</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: red;" th:href="@{/myPage/like}">
                    <i class="fa fa-gratipay"></i> 좋아요
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:black;" th:href="@{/cart}">
                    장바구니 (<span th:text="${totalCount}"></span>)
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" action="#" th:action="@{/logout}" method="post">
                    <button class="btn btn-sm" type="submit">로그아웃</button>
                </form>
            </li>
        </ul>
    </div>

    <div th:fragment="myPage-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="line-height: 50px">
            <div class="container-fluid">
                <a class="navbar-brand ml-5" style="color: white;" th:href="@{/myPage}">My Page(이미지 삽입 필요)</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" th:href="@{/cart}">장바구니</a>
                        </li>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit" style="color: white; background: none;">로그아웃</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div th:fragment="myPage-setting-nav" class="pl-5 pt-3 bg-dark " style="line-height: 200px;">
            <div class="row" style="line-height: 60px">
                <div class="col-xs-1">
                    <svg data-jdenticon-value="user127" width="170" height="170">
                        Fallback text or image for browsers not supporting inline svg.
                    </svg>
                </div>
                <div class="col-xs-10">
                    <strong>
                        <p th:text="${member.userName}" style="font-size: 60px">
                        </p>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="settings-menu (currentMenu)" class="myPage">
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/myPage}">프로필</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'orderList'}? active" href="#" th:href="@{/myPage/orderList}">주문내역</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notification'}? active" href="#" th:href="@{/myPage/notification}">알림</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'keyword'}? active" href="#" th:href="@{/myPage/keyword}">키워드 설정</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'wish'}? active" href="#" th:href="@{/myPage/wish}">좋아요</a>
    </div>

    <div th:fragment="goods-menu (currentMenu)" class="justify-content-center">
        <nav class="col-10 nav nav-tabs s1">
            <a class="nav-item nav-link" href="#" th:classappend="${goodsMenu == 'info'}? active" th:href="@{'/goods/' + ${item.getId()}}">
                <i class="fa fa-store"></i> 제품화면
            </a>
            <a class="nav-item nav-link s1" href="#" th:classappend="${goodsMenu == 'setting'}? active" th:href="@{'/goods/' + ${item.getId()} + '/setting'}">
                <i class="fa fa-setting"></i> 설정
            </a>
        </nav>
    </div>

    <div th:fragment="goods-settings-menu (currentMenu)" class="goodsSetting">
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'item'}? active" href="#" th:href="@{'/goods/' + ${item.getId()} + '/setting'}">상품정보</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'info'}? active" href="#" th:href="@{'/goods/' + ${item.getId()} + '/setting/info'}">상품소개</a>
        <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tag'}? active" href="#" th:href="@{'/goods/' + ${item.getId()} + '/setting/tags'}">태그 설정</a>
    </div>

    <script type="application/javascript" th:fragment="form-validation">
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
            }, false)
        }())
    </script>
</body>
</html>