<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>

    <div th:replace="fragments.html :: main-nav"></div>

    <div th:replace="fragments.html :: login-nav"></div>

<!--    <div class="container">
        <div class="row">
            <div th:each="items : ${goodsList}">
                <a th:href="@{'/goods/'+${items.getId()}}">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${items.getItem().getItemName()}"></span>
                            </h5>
                            <p class="card-text">
                                <span th:text="${items.getItem().getItemName()}"></span>
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>-->

    <div class="container">
        <div class="row">
            <div th:each="items : ${allItem}">
                <a th:href="@{'/goods/'+${items.getId()}}">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${items.getBrandName()}"></span>
                            </h5>
                            <p class="card-text">
                                <span th:text="${items.getItemName()}"></span>
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--
    nav-tab
    <div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">Home 메뉴</div>
            <div class="tab-pane fade" id="profile">Profile 메뉴</div>
            <div class="tab-pane fade" id="messages">Messages 메뉴</div>
            <div class="tab-pane fade" id="settings">Settings 메뉴</div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
    </div>-->


</body>
</html>