<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>

    <div th:replace="fragments.html :: main-nav"></div>

    <div th:replace="fragments.html :: login-nav"></div>

    <!--
    nav-tab
    <div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">Home 메뉴</div>
            <div class="tab-pane fade" id="profile">Profile 메뉴</div>
            <div class="tab-pane fade" id="messages">Messages 메뉴</div>
            <div class="tab-pane fade" id="settings">Settings 메뉴</div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
    </div>-->


</body>
</html>